<header class="header">
    <span class="titulo">Pokedéx</span>
</header>
<hr>

<body>
    <div class="wrap">
        <div class="search">
            <input type="text" class="form-control" placeholder="Nome do Pokemón...." [(ngModel)]="filtroPokemon">
            <div id="datatable">
            </div>
            <!-- <button (click)="filtrarPokemon(filtroPokemon)" type="submit" class="searchButton">
                <i class="ph ph-magnifying-glass"></i>
            </button> -->
        </div>
    </div>
</body>
<div class="drag">
    <span>
        Ou selecione uma geração
    </span>
</div>
<div class="container">
    <div class="dropdown">
        <button class="dropbtn" *ngIf="!geracao">Selecionar Geração</button>
        <button class="dropbtn" *ngIf="geracao">{{ geracao }}</button>
        <div class="dropdown-content">
            <a (click)="selectGeneration(i + 1)" *ngFor=" let ger of geracoes; let i = index;" href="#">{{ ger }}</a>
        </div>
    </div>
</div>

<!-- <div *ngIf="pokemonList">
    <div *ngFor="let poke of filteredPokemonList.length > 0 ? filteredPokemonList : pokemonList;">
        <div *ngIf="filteredPokemonList">
            <span>{{ poke.name }}</span>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-4" *ngFor="let poke of filteredPokemonList.length > 0 ? filteredPokemonList : pokemonList;">
        <div>
            <div>{{poke.name}}</div>
        </div>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{poke.id}}.png" alt=""
            width="25%" />
    </div>

</div>

<!-- <div *ngIf="filteredPokemonList.length === 0 && pokemonList.length !== 0">
    <span>nada fi</span>
</div> -->