* {
    margin: 0;
}

.header {
    background-color: #3F51B5;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0.1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #FFF;
    font-weight: 800;
}

.titulo {
    font-size: 50px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    // background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #00B4CC;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin: auto;
    min-width: 200px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: flex;
    justify-content: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 4.5em;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #00B4CC;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.col-4 {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 10px;
    background-color: #E7E7E7;
}

.card {
    background: #f7f7f7;
    transition: .3s;
}

.card:hover {
    background: #ebebeb;
    cursor: pointer;
}


.lottie {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto {
    padding: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}