@font-face {
    font-family: 'Pokemon';
    src: url('/assets/fonts/pokemon-solid.ttf') format('truetype');
}

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.header {
    font-family: 'Pokemon', sans-serif;
    background-color: #FF0000;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0.1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #D9C721;
    font-weight: 800;
    padding-bottom: 20px;
}

.titulo {
    font-size: 50px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    // background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchTerm {
    width: 100%;
    border: 3px solid #3F51B5;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #3F51B5;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #3F51B5;
    background: #3F51B5;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.dropdown {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.dropdown-item {
    color: black;
}

.btn {
    width: 15%;
    padding: 10px;
    color: white;
    background-color: #FF0000;
    border: 1px solid #FF0000;
}

.btn:hover {
    background-color: #860000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.col-4 {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 10px;
    background-color: #E7E7E7;
}

.card {
    background: #f7f7f7;
    transition: .3s;
}

.card:hover {
    background: #ebebeb;
    cursor: pointer;
}


.lottie {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto {
    padding: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .modal-title{
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
